pandas==1.1.0
numpy==1.23.5
scikit-learn==0.23.1
tqdm==4.48.2
#tensorflow-gpu==2.2.0
tensorflow==2.13.1 
deap==1.3.1
matplotlib==3.3.1
PyYAML==6.0.1
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
seaborn
medmnist
pynvml
ray
gputil
pathos
jupyter
protobuf>=3.20,<4
mlflow==2.17.2
pydantic==1.10.13
pyarrow==17.0.0
